.cover-container{
    position: relative;
    height: 400px;
    width: 100%;
  }
  .cover{
    height: 100%;
    width: 100%;
  }
  .heading-primary{
    position: absolute;
    top: 50px;
    font-weight: 500;
    margin: 10px 150px;
    font-size: 38px;
    color: white;
  }
  .heading-secondary{
    position: absolute;
    top: 100px;
    font-weight: normal;
    margin: 10px 150px;
    font-size: 25px;
    color: white;
  }
  .app-toolbar{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 10px auto;
    height: 80px;
    width: 80%;
    border: 1px solid rgba(0, 0, 0, 0.486);
    box-sizing: border-box;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    background: #FFDA47;
  }
  .main-body{
    height: 300px;
    margin: 30px 150px;
  }